<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ app_tittle }}</title>
    {{ prodScript(0) | raw  }}
    <link rel="stylesheet" href="{{ style('main') }}">
    {% block head %}
    {% endblock head %}
</head>
<body>
<div class="cFab">&#9650;</div>
<div class="appSideNavOverlay">
    <div class="appSideNav">
        <span class="close-thick js_hamburger_"></span>
        <div class="logoIcon" style="margin-bottom:30px;"></div>
        <a href="/">Landing</a>
    </div>
</div>
<div class="appHero">
<h1 class="microLogo parallax">micro<span>PHP</span></h1>
{#    <div class="backGround parallax"></div>#}
{#    <div class="logo parallax"></div>#}
</div>
<form action="{{ asset('/api/switchLang') }}" method="post" id="formSwitch" style="display: none">
    <input type="hidden" name="language" value="any">
</form>
{{ APP_NAV | raw}}
{% block content %}
{% endblock content %}
<div class="appFooter">
    <span>&#174;&emsp;Webing IT [{{ APP_MODE}}] - {{ now }} </span>
</div>
{{ prodScript(1) | raw  }}
<script src="{{ script('main') }}"></script>
{% block scripts %}
{% endblock scripts %}
</body>
</html>
