<div class='form-check'>
    <label class='{{ labelClass }}'>
        <input type='{{ fieldType }}' class='{{ fieldClass }}'
               name='{{ fieldName }}'  value='on'  onclick='{{ fieldAction }}'>
                {{ fieldLabel }}
    </label>
</div>
